<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_before">
		<observer name="wemessage_validatecheckoutfields_observer_checkout_submitbefore_checkout_submit_before" instance="Wemessage\ValidateCheckoutFields\Observer\Checkout\SubmitBefore"/>
	</event>
</config>
